.audioBooksContainer{
    width: 100vw;
    height: 50vw;
}

.audioBooksContainer>h1{
    font-weight: 500;
    font-size: 3vw;
    margin-top: 5vh;
    color: #161853;
    text-align: center;   
}

.audioBooksGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }