.servicesContainer{
    width: 100vw;
    height: 100vh;
    background: #fff;
    margin-top: 10vh;
}

.servicesContainer>h1{
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 4vw;
    letter-spacing: 2px;
    margin-top: 7vh;
    color: #161853;;
    font-weight: 400;
}
.divGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    width: 90%;
    margin-left: 5vw;
    margin-top: 5vh;
}

.divGrid>div{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divGrid>div>h1{
    font-size: 2.5vw;
    font-weight: 500;
    color: #161853;
    text-align: center;
}
.divGrid>div>p{
    line-height: 1.88;
    letter-spacing: -0.24px;
    font-size: 1.5vw;
    color: #77777a;
    font-weight: 400;
    margin-top: 2.5vh;
}

.divButton{
    background-color: #161853;
    display: flex;
    border-radius: 25px;
    width: 14vw;
    height: 7vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2vw;
    margin-left: 42vw;
    margin-top: 5vh;
}