.ourVoicesContainer{
    width: 100vw;
    height: 80vh;
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
}

.divVoice{
    width: 50vw;
}

.divVoice:first-child{
    margin-left: 10vw;
    width: 35vw;
    display: flex;
    flex-direction: column;
}
.divVoice:first-child>h1{
    color: #161853;
    font-size: 9vw;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    
    overflow-y:hidden;
}

.divVoice:last-child{
    margin-right: 5vw;
}



.divButton{
    background-color: #161853;
    display: flex;
    border-radius: 25px;
    width: 13vw;
    height: 7vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2vw;
    margin-top: 5vh;
}

.carouselContainer{
    width: 40vw;
    margin-left: 7vw;
}
.carouselContainer>div>div{
    margin-top: -10vw;
    margin-left:5vw;
    margin-right: 5vw;
    width: 100%;
}

.carouselContainer>div>div>div>div{
    margin-left: 2.7vw;
}


.carouselContainer>div>button{
    height: 30vw;
    margin-top: auto;
}

.carouselContainer>div>button>span{
    filter: invert(1);
}