.ourVoicesContainer{
    width: 100vw;
    height: 93vh;
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
}

.divVoice{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.divVoice:first-child{
    margin-left: 10vw;
    width: 35vw;
}
.divVoice:first-child>h1{
    color: #161853;
    font-size: 9vw;
    font-family: "Days One", sans-serif;
    font-weight: 400;
}

.divVoice:last-child{
    margin-right: 5vw;
}

.imgArrows{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.voiceDiv>img{
 width: 25vw;
 height: 25vw;
 object-fit: cover;
}

.reproductor{
    width: 25vw;
    height: 7vh;
    margin-top: 2vh;
    background-color: #77777a;
}


.divButton{
    background-color: #161853;
    display: flex;
    border-radius: 25px;
    width: 13vw;
    height: 7vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2vw;
    margin-top: 5vh;
}

.rightarrow{
 display: flex;
 background-color: #77777a;
 width: 4vw;
 height: 4vw;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 color: #fff;
 margin-left: 2vw;
}

.rightarrow:hover{
    cursor: pointer;
}

.leftarrow{
    display: flex;
    background-color: #77777a;
    width: 4vw;
    height: 4vw;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    rotate: 180deg;
    margin-right: 2vw;
}

.leftarrow:hover{
    cursor: pointer;
}